/build/
.vscode/
.idea/

# Arquivos temporários e de teste/Binários e .exe

*.huff
*.huf
*.freq
*.zip
*.gz
*.7z

*.o
*.exe
*.out


compressor
contador_frequencia

examples/huff_generate/decompressed_code/*
#Exceção
!examples/huff_generate/decompressed_code/readme.md
